.edit-form{
display: flex;
align-content: center;
flex-wrap: nowrap;
width:70vw;
margin: 20px auto;
height:10%
}
.required-symbol {
  color: rgb(255, 9, 9);
  margin-left: 1px;
  font-size: medium;
  margin-bottom: 2px;
  padding: 5px;
}

.list-container{
  display: flex;
  flex-direction: column;
  align-items:center ;
}
.list-user{
  color:black
}
.update-button{
  margin: 1.6rem auto 0.2rem auto;
  padding: 5px;
}

.edit-button{
  margin-right: 20px;

}
 .previous, .next{
  padding: 10px 20px;
  background-color: #378335;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;

 }

 .previous:hover,.next:hover{
  background-color: #38683A;
}

.profile-button {
  padding: 10px 20px;
  background-color: #a4243b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;

}

.nextpage-button:hover {
  background-color: #66494D;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  color: #a4243b;
  font-family: Georgia, serif;;
  font-size: 16px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}
table{
  width: 60vw;
  margin: auto;
  border:solid;
  border-collapse: collapse;
  

}
th {
  text-align: left;
}

td {
  padding: 8px;
  border: 1px solid #1b1b32;
}

thead tr th {
  background-color: #ffffff;
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}


label {
  display: block;
  margin: 0;
}

input{
  margin: 0;
}
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

.submit-button,.update-button{
  padding: 10px 20px;
  background-color: #378335;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.submit-button:hover,.update-button:hover{
  background-color: #38683A;
}

.edit-button{
  padding: 10px 20px;
  background-color: #2992DA;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.edit-button:hover {
  background-color: #528495;
}

.delete-button{
  padding: 10px 20px;
  background-color: #DF243A;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.delete-button:hover{
  background-color: #AF314E;
}
input, textarea {
  background-color: #ffffff;
  border: 1px solid #0a0a23;
  color: black;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

a{
color:#dfdfe2;
}
